{% extends 'base.html' %}
{% block content %}
<div class="container">
    <p>Welcome to Lotus Warehouse application</p>
    <br>
    <a class="btn btn-outline-primary" href="{{url_for('core.misa_request')}}" role="button">Misa Request</a>
    <a class="btn btn-outline-primary" href="{{url_for('core.xuat_hang')}}" role="button">Xuất hàng</a>
    <a class="btn btn-outline-primary" href="#" role="button">Nhập hàng</a>
    <a class="btn btn-outline-primary" href="#" role="button">Tra cứu mã đơn hàng</a>

</div>




{% endblock %}